@media ( max-width: 1440px ) {
    .runes {
        &__wrapper {
            width: 100%;
        }
    }
}

@media ( max-width: 500px ) {
    .promo {
        background: url(../../img/blik320.png) center (center/cover) no-repeat;
        background-color: $background-color;
        background-size: 493px auto;
        background-position: 97% 0%;
        min-height: 630px;
        &__title {
            font-size: 12px;
            line-height: 14px;
            padding-top: 21px;
        }
        &__subtitle {
            font-size: 20px;
            line-height: 23px;
        }
        &__img-wrapper {
            margin-top: 24px;
            &-round {
                width: 225px;
                height: 225px;
            }
            &-woman {
                width: 137px;
                height: 137px;
            }
        }
        &__text {
            font-size: 16px;
            line-height: 25px;
            width: 270px;
        }
        &__yes {
            margin-top: 16px;
            transform: scale(0.65);
        }
        &__no {
            margin-top: 3px;
            transform: scale(0.65);
        }
        &__prediction {
            margin-top: 20px;
            font-size: 12px;
            line-height: 14px;
        }
    }

    .main-btn-text {
        font-size: 24px;
    }

    .hands {
        min-height: 365px;
        padding-top: 75px;
        &__square {
            width: 255px;
            height: 252px;
            padding: 55px 22px 0 23px;
        }
        &__img {
            width: 78px;
            height: 78px;
        }
        &__text {
            font-size: 16px;
            line-height: 25px;
            span {
                font-weight: 500;
                font-size: 20px;
            }
        }
    }

    .prediction {
        min-height: 384px;
        &__img {
            width: 498px;
            height: 331px;
        }
        &__text {
            top: 102px;
            width: 219px;
            height: 149px;
            font-size: 16px;
            line-height: 25px;
        }
    }

    .question {
        min-height: 214px;
        &__title {
            font-size: 16px;
            line-height: 19px;
        }
        &__yes {
            margin-top: 20px;
            transform: scale(0.65);
        }
        &__no {
            margin-top: 0px;
            transform: scale(0.65);
        }
        &__count {
            margin-top: 20px;
            font-size: 12px;
            line-height: 14px;
        }
    }

    .runes {
        min-height: 332px;
        &__wrapper {
            padding-top: 61px;
        }
        &__eye {
            right: -130px;
            transform: scale(0.45);
            top: -10px;
        }
        &__moon {
            transform: scale(0.45);
            top: 171px;
            left: -67px;
        }
        &__text {
            width: 235px;
            height: 84px;
            margin-top: 37px;
            font-size: 20px;
            line-height: 28px;
        }
    }

    .rune2 {
        margin-top: 33px;
    }

    .footer {
        &__text {
            display: block;
        }
    }
}