.recording {
    background-color: $background-color;
    min-height: 100vh;
    position: relative;
    display: none;
    &__wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__img {
        display: block;
        margin: 0 auto;
    }
    &__progress-bar {
        background: #FFFFFF;
        border-radius: 5px;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        display: flex;
        height: 4px;
        width: 320px;
        margin-top: 40px;
        &-line {
            background: #F6C866;
            height: 4px;
            width: 0;
            border-radius: 5px;
        }
    }
    &__percents {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1em;
        color: rgba(255, 255, 255, 0.6);
        display: block;
        margin: 0 auto;
        margin-top: 24px;
    }
    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1em;
        color: rgba(255, 255, 255, 0.6);
        margin-top: 12px;
    }
}